/* css common  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header section  */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: 50px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 45px;
}
.menu {
  align-items: flex-end;
}
.menu ul {
  margin-top: 40px;
  list-style-type: none;
}
.menu ul li {
  display: inline;
  margin-right: 50px;
}

/* banner section  */
.banner {
  text-align: center;
}
.banner-text {
  margin: 0 150px;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.banner-text p {
  color: #727272;
  margin-bottom: 20px;
}
.btn-regular {
  padding: 20px;
  border: 0px;
  color: white;
  border-radius: 8px;
  background-color: #ff900e;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}
.banner-image img {
  width: 100%;
  margin-bottom: 50px;
}

/* Features section */
main {
  margin-top: 80px;
}
.features-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin-bottom: 130px;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-images img {
  width: 100%;
}
.features {
  text-align: left;
  color: #727272;
  display: flex;
  justify-content: center;
  align-self: center;
}
.features h1 {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 10px;
}
.of-our {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.feature-text {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #ff900e;
}
.features p {
  margin-bottom: 20px;
}

/* love & enjoy section  */
.love-enjoy {
  display: flex;
  color: #727272;
  gap: 70px;
}
.love-enjoy-features {
  width: 50%;
}
.love-enjoy-features h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
  border-left: #ff900e solid 5px;
  padding-left: 20px;
}
.love-enjoy-features p {
  margin-bottom: 30px;
}
.box-shadow {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.box-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 10px;
}
.btn-text-love {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  text-align: center;
}
.love-section-img {
  width: 50%;
  position: relative;
}
.love-section-btn {
  position: absolute;
  bottom: -50px;
  left: -50px;
}

/* media query  */
@media only screen and (max-width: 576px) {
  header {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  nav {
    flex-direction: column;
  }
  .menu ul li {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
  }
  .logo {
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
  }
  /* banner responsive  */
  .banner-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
  }
  .banner-text h1 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  /* features section  */
  .team-images {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .features-section {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }
  .features {
    margin-left: 20px;
  }

  /* love section */
  .love-enjoy {
    flex-direction: column;
  }
  .love-section-img img {
    width: 100%;
  }
  .love-section-img {
    width: 100%;
  }
  .love-enjoy-features {
    width: 100%;
  }
  .love-section-btn {
    position: absolute;
    bottom: -50px;
    left: 100px;
  }
}
